
<div *ngIf="Customer==null" class="customer-container" >

    <br /><br />
    <div class="pull-left"><h1>Customer List </h1></div>
    <div class="pull-right">
        <br />
        <input type="button" class="btn btn-primary" value="Add New Customer" />
    </div>

    <br style="clear: both;" /><BR />

    <kendo-grid [data]="CustomerList">
        <kendo-grid-column title="Customer ID" field="Id" width="150">
        </kendo-grid-column>
        <kendo-grid-column title="Name" field="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column title="Birthdate" field="Birthdate" width="150">
        </kendo-grid-column>
        <kendo-grid-column title="Email" field="Email" width="150">
        </kendo-grid-column>
        <kendo-grid-column title="Phone" field="Phone" width="150">
        </kendo-grid-column>
        <kendo-grid-column title="Created Date" field="CreateDate" width="150">
        </kendo-grid-column>
        <kendo-grid-column title="Updated Date" field="UpdateDate" width="150">
        </kendo-grid-column>
    </kendo-grid>
</div>





    <simple-notifications [options]="NotificationOptions"></simple-notifications>
